


<div class="page-header">
    <h1>Instructions</h1>
</div>

<p>
    We would like you to add some simple functionality to this patient database. It is intended for you to give us an idea of
    your style of web development. Feel free to use any tools or libraries (front or back end) you find useful.
</p>

<p>
    The solution is split into web and data projects. The data access is through Entity Framework's Code First with the database created using migrations and seeded with (first run of the project may take some time due to seeding).
</p>

<h3>1. Create Patient</h3>
<p>
    <ul>
        <li>Add a form to create a new patient</li>
    </ul>
</p>

<h3>2. Patient Details</h3>
<p>
    <ul>
        <li>Add functionality to view the details of an existing patient</li>
    </ul>
</p>

<h3>3. Patient List</h3>
<p>
    <ul>
        <li>Add a page to view all patients. Include functionality to search / filter patients</li>
    </ul>
</p>

<h3>4. Patient Addresses</h3>
<p>
    Extend the solution by designing a table to store the addresses of patients, each patient can have up to 2 addresses. The possible types of address are Postal and Residential.
    An address can optionally be marked as a primary address. Please take this into account when designing your table.  
</p>
<p>
    <ul>
        <li>Add a new migration to create the new table and seed it with data</li>
        <li>Modify the Create Patient page to allow a user to enter up to two addresses</li>
        <li>Modify the Patient Details page to display addresses</li>
        <li>Include the address data in the search functionality of the Patient List</li>
    </ul>
</p>

