@model CandidateScreening.Models.ProductListViewModel

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

@if (ViewBag.Message != null)
{

    <div class="alert alert-warning">
        @ViewBag.Message
    </div>
}    
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
